@use '../../styles/variables' as vars;

.buttonIcon {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border: 1px solid vars.$color-foreground;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
}
