.selectWrapper {
  width: 100%;
  position: relative;
}

.select {
  width: 100%;
  padding: 12px 20px;
  background-color: #1A1A1A;
  color: white;
  border: 1px solid #444;
  border-radius: 15px;
  outline: none;
  font-size: 16px;
  appearance: none;
}

.select:has(option[value=""]:checked) {
  color: #888;
}

.select:focus {
  border-color: #666;
}

.vector {
  position: absolute;
  width: 17px;
  height: auto;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
