@use "../../../../styles/variables" as vars;

.destaque{
    color: vars.$color-acent;
    transition: color 0.3s ease;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-shadow: 0 0 12px rgba(vars.$color-acent, 0.6);

    &.destaqueVerde{
       color: vars.$color-primary;
       text-shadow: 0 0 12px rgba(vars.$color-primary, 0.6);
    }
}


.boxStats{
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}

.statsItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4px;

    p{
        color: #ffffff;
        font-size: 0.8rem;
        margin: 0;
        font-weight: 400;
        opacity: 0.8;
    }
}


