// -----------------CORES----------------------
$color-primary: #00ffc3;
$color-primary-hover: #77dac3;
$color-acent: #ff33a0;
$color-background: #09090b;
$color-background-section: #1e1e1e;
$color-foreground: #fafafa;
$color-text: #fff;
$gradient-accent: linear-gradient(90deg, #332288 0%, #BB33FF 100%);

