@use "./variables" as v;
@use "./reset";

@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  background-color: v.$color-background;
  color: v.$color-text;
}

h1,
h2,
h3,
h4 {
  font-family: "Archivo", sans-serif;
}
