@use '../../styles/variables' as v;

.container {
  display: flex;
  gap: 8px;
}

.button {
  padding: .625rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid rgba($color: #ffffff, $alpha: 0.5);
  border-radius: .625rem;
  color: v.$color-text;
  transition: background-color 0.3s, color 0.3s;
}

.active {
  padding: .6875rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: .625rem;
  background-color: v.$color-primary;
}