@use "../../styles/variables" as v;

.header {
  position: relative;
  z-index: 5;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;

  .containerLogo {
    display: flex;
    align-items: center;
    gap: 1rem;

    p {
      font-weight: 400;
      font-size: 1.4rem;
      color: v.$color-primary;
    }
  }

  .hamburger {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
    color: v.$color-primary;
    svg {
      display: block;
    }
    position: relative;
    z-index: 1001;
  }

  .nav {
    display: flex;
    gap: 2rem;

    //  colocar  fundos  transparentes  apenas  nos  buttonLinks  exceto  o  de criar  evento
    & > a {
      background-color: transparent;
    }
  }

  a {
    border: none;
    font-size: 1.3rem;
  }

  //container do  link para  criar  evento  no mobile
  .createMobile {
    display: none;
  }

  @media screen and (max-width: 1100px) {
    .containerLogo {
      p {
        font-size: 1.2rem;
      }

      img {
        width: 40px;
        height: 40px;
      }
    }
    .nav {
      gap: 0.4rem;

      a {
        font-size: 1.2rem;
        padding: 0.8rem 1rem;
      }
    }

    .createDesktop {
      a {
        font-size: 1rem;
      }
    }
  }

  //query  para  responsividade e  estilização do menu hamburguer
  @media screen and (max-width: 768px) {
    padding: 0 1.5rem;

    .hamburger {
      display: flex;
      color: v.$color-text;
      position: relative;
      z-index: 1001;
    }
    //quando menu  está aberto  , faz  o icone  visivel no  background  dark
    .hamburger[aria-expanded="true"] {
      color: v.$color-text;
    }

    .backdrop {
      display: none;
    }

    .nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: rgba(11, 11, 11, 0.98);
      color: #fff;
      display: none;
      flex-direction: column;
      gap: 1.2rem;
      padding: 4rem 1.5rem 1.5rem 1.5rem;
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.32);
      z-index: 999;
      align-items: center;
      justify-content: flex-start;
    }

    //estilização específica apenas para os links  filhos  diretos  no elemento nav
    .nav > a {
      color: #fff;
      font-size: 1.4rem;
      display: block;
      width: 100%;
      text-align: center;
      padding: 0.75rem 0;
    }

    .nav.open {
      display: flex;
    }

    .createMobile {
      display: block;
      width: 100%;
    }

    .createMobile .buttonLink {
      width: 100%;
    }

    //esconde o botão criar evento   no  mobile

    .createDesktop {
      display: none;
    }
  }
}
