@use '../../styles/variables'  as v;

.header {
    border: 1px  solid red;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    
    .containerLogo {
        display: flex;
        align-items: center;
        gap: 1rem;
    
        p {
            font-weight: 400;
            font-size: 1.4rem;
            color: v.$color-primary;
        }
    }

    .nav {
        display: flex;
        gap: 2rem;
    }
}
