@use "../../styles/variables" as v;

@mixin flex($direction: row, $justify: flex-start, $align: stretch, $gap: 0) {
  display: flex;
  justify-content: $justify;
  flex-direction: $direction;
  align-items: $align;
  gap: $gap;
}

@mixin defaultParagraph {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

%default-links {
  color: v.$color-text;
  font-weight: 300;
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover,
  &:focus-visible {
    color: v.$color-primary;
  }
}


.footer {
  @include flex(column);
  padding: 6.25rem 14.5rem;
  background-color: v.$color-background;
}

.flexFooter {
  @include flex(row, space-between, stretch, 4rem);
  padding-bottom: 4rem;
}

.containerFooterLogo {
  @include flex(column);
  max-width: 20rem;
  width: 100%;

  p {
    padding-top: 1.5rem;
    @include defaultParagraph();
  }

  nav {
    .socialList {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;
      margin-top: 1.1rem;
    }

    a {
      @extend %default-links;
      margin-right: 2rem;
      font-size: 1.25rem;
    }
  }
}

.flexLogo {
  @include flex(row, flex-start, center);
    img {
      width: 2rem;
      margin-right: 0.625rem;
    }
    
    h2 {
      color: v.$color-primary;
      font-size: 1.125rem;
      font-weight: 700;
    }
}

.containerFooterLinks {
  @include flex(row);
  nav {
    @include flex(column);
    padding: 0 7rem;
    text-align: left;
    
    h3 {
      font-size: 1.25rem;
      margin-bottom: 1.5rem;
    }
    
    ul {
      list-style-type: none;
      padding-left: 0;
      margin: 0;
    }
    
    
    a {
      @extend %default-links;
      line-height: 2;
      letter-spacing: 0.05em;
    }
  }
}

.containerFooterCopyright {
  @include flex(row, space-between);
  padding-top: 2.625rem;
  font-size: 1rem;
  border-top: 1px solid #1E1E1E;
  
  .copyrightText {
    font-weight: 300;
  }

  .footerContainerIcon {
    @include flex(row, flex-start, center);
    text-align: center;
    span {
      font-weight: 300;
    }

    .footerIconPin {
      font-size: 1.68rem;
      color: v.$color-primary;
      margin-right: 0.8rem;
    }
  }
}

// -=- RESPONSIVIDADE -=-
// DESKTOP

@media (max-width: 1440px) {
  .footer {
    padding: 3.5rem 5rem;
  }

  .flexFooter {
    gap: 3rem;
  }

  .containerFooterLinks {
    justify-content: space-between;

    nav {
      padding: 0 5rem;
    }
  }
}

// -=- RESPONSIVIDADE -=-
// TABLET

@media (max-width: 1024px) {
  .footer {
    padding: 4rem 4rem;
  }

  .flexFooter {
    flex-direction: column;
    gap: 3rem;
  }

  .containerFooterLinks {
    justify-content: space-between;

    nav {
      padding: 0;
    }
  }
}

// MOBILE

@media(max-width: 576px) {
  .footer {
    padding: 2rem 2rem;
    max-width: 100%;
    overflow-x: hidden;
  }

  .flexFooter {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    max-width: 100%;
  }

  .containerFooterLogo {
    flex-direction: column;
    align-items: center;
    text-align: center;

    p {
      padding: 0.5rem 0;
      font-size: 1rem;
    }

    nav {
      a {
        margin: 1rem;
        font-size: 2rem;
      }
    }
  }

  .containerFooterLinks {
    flex-direction: column;
    align-items: center;
    
    nav {
      align-items: center;
      text-align: center;
      width: auto;
      
      h3 {
        font-size: 1.5rem;
      }

      a {
        font-size: 1rem;
      }
    }
  }

  .containerFooterCopyright {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
    max-width: 100%;

    .copyrightText {
      font-size: 1rem;
    }

    .footerContainerIcon {
      @include flex(row, flex-start, center);
      font-size: 1rem;

      .footerIconPin {
        font-size: 1.2rem;
        margin-right: 0.3rem;
      }
    }
  }
}