@use "../../styles/_variables.scss" as vars;


.destaque{
    color: vars.$color-acent;
    transition: color 0.3s ease;

    &.destaqueVerde{
       color: vars.$color-primary;
    }
}

h2{
    font-size: 2rem;
    font-weight: 450;
    padding: 1rem;
    display: flex;
    margin: 2rem 2rem;
    text-align: center;
    justify-content: center;
    gap:12px;
    width: 60%;
}


// responsividade - mobile
@media (max-width: 768px){
    h2{
        font-size: 1.35rem;
        width: 90%;
    }
}

// responsividade - tablet
@media (min-width: 769px) and (max-width: 1024px){
    h2{
        font-size: 1.75rem;
        width: 90%;
    }
}